# DeployAI / API credentials
CLIENT_ID=your_client_id
CLIENT_SECRET=your_client_secret
ORG_ID=your_org_id
AUTH_URL=https://api-auth.deploy.ai/oauth2/token
API_URL=https://core-api.deploy.ai

# Server config
BACKEND_PORT=3001
